script.
  !function(s,t,u,d,i,o){s.GoogleAnalyticsObject=d,s[d]||(s[d]=function(){(s[d].q=s[d].q||[]).push(arguments)}),s[d].l=+new Date,i=t.createElement(u),o=t.getElementsByTagName(u)[0],i.src="//www.google-asnalytics.com/analytics.js",o.parentNode.insertBefore(i,o)}(window,document,"script","ga"),ga("create","UA-XXX-X"),ga("send","pageview");
